.midleToRight:hover {
  animation: midleToRight 0.5s linear 0s infinite alternate both running;
}

@keyframes midleToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

.extendToRight {
  animation: extendToRight 0.5s linear 0s 1 normal both running;
}

@keyframes extendToRight {
  0% {
    width: 0;
  }
  100% {
    width: 220px;
  }
}

.collepseToLeft {
  animation: collepseToLeft 0.5s linear 0s 1 normal both running;
}

@keyframes collepseToLeft {
  0% {
    width: 220px;
  }
  100% {
    width: 0;
  }
}

.upToDownNavbar {
  animation: upToDownNavbar 0.2s linear 0s 1 normal both running;
}
.downToUpNavbar {
  animation: downToUpNavbar 0.2s linear 0s 1 normal both running;
}
.upToDownDropDown {
  animation: upToDownDropDown 0.2s linear 0s 1 normal both running;
}
.downToUpDropDown {
  animation: downToUpDropDown 0.2s linear 0s 1 normal both running;
}

@keyframes upToDownNavbar {
  0% {
    padding-bottom: 0px;
  }
  100% {
    padding-bottom: 20px;
  }
}
@keyframes downToUpNavbar {
  0% {
    padding-bottom: 20px;
  }
  100% {
    padding-bottom: 0px;
  }
}
@keyframes upToDownDropDown {
  0% {
    opacity: 0;
    height: 0px;
    padding-top: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    height: 40px;
    padding-top: 5px;
    visibility: visible;
  }
}

@keyframes downToUpDropDown {
  0% {
    opacity: 1;
    height: 40px;
    padding-top: 5px;
    visibility: visible;
  }
  100% {
    opacity: 0;
    height: 0px;
    padding-top: 0;
    visibility: hidden;
  }
}
